* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #A1D2D0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.header-container {
  color: #fff;
  background-color: #D1ECE9;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: flex;
  justify-content: center;
}

.grid {
  border: 3px solid;
  width:900px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
