* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  background-color: #1c3a6f;
  color: #B0E0E6;
  width: auto;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
}

.menu-item {
  width: auto;
  justify-content: flex-start;
  padding: 0px 0px 0px 200px;
}

.header-container {
  background-color: #B0E0E6;
  width: auto;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
}

.header {
  display: flex;
  padding: 10px;
  width: auto;
}

.header-item {
    padding: 10px;
    margin: 8px;
    border: 4px solid #1c3a6f;
    justify-content: flex-start;
}

.image-container {
  background-color: #B0E0E6;
  display: flex;
  justify-content: flex-start;
  padding: 25px;
  width: auto;
}

.image {
  display: flex;
  border: 4px solid #1c3a6f;
  padding: 10px;
}

.content-container {
  background-color: #B0E0E6;
  width: auto;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
}

.content {
  display: flex;
  justify-content: flex-start;
}

.content-item {
  background-color: #c2d0d2;
  width: 33.3%;
  border: 4px solid #1c3a6f;
  padding: 10px;
  margin: 8px;
  justify-content: flex-start;
}

h1, h2, h3, h4 {
  font-family: "Helvetica", "Arial", "sans-serif";
}

h3, h4 {
  color: #1c3a6f;

}
p {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-size: 20px;
  color: #515658;
  }

  ul li {
    list-style-position: inside;
    margin-left: 8px;
    font-family: "Helvetica", "Arial", "sans-serif";
    color: #515658;
    font-size: 20px;
  }

  .footer-container {
    background-color: #B0E0E6;
    display: flex;
  }

  .footer-item {
    width: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
