* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: auto;
  margin: 0 auto;
  overflow: hidden;
  background-color: #DDDDDD;
}

.container {
  overflow: hidden;
  background: #fff;
}

.menu {
  text-align: center;
  height: 100px;
  background-color: #B2D6FF;
}

.sidebar {
  float: left;
  width: 200px;
  height: 500px;
  background-color: #fff;
}

.overview {
  padding: 20px;
  float: left;
  width: auto;
  height: auto;
  background-color: #AEDB9F
}

.deliverables {
  padding: 20px;
  border: 2px solid #fff;
  float: left;
  width: 50%;
  height: 300px;
  background-color: #7E9495;
}

.footer {
  clear: both;
  height: 200px;
  background-color:#B2D6FF;
}
